section
    section
        h1 Workflows
    section
        h2 Motivation
        ul
            li
                | Most bioinformatics involves running many command-line tools; aligners like 
                | #[code bwa], variant callers like #[code gatk], and RNA Seq tools like #[code edgeR]
            li
                | However, once this list of tools reaches a certain quantity and complexity, it becomes hard to 
                | reproduce exactly what you ran and with what parameters
    section
        h2 Compared to Bash
        ul
            li A bash script may help with this, but proper workflows...
                ul
                    li Run fully parallel to speed up execution
                    li Work automatically with batch systems like SLURM
                    li Are written declaratively, allowing the system to work out the optimal order of execution for you
                    li Save you having to hard-code input parameters and temporary files
                    li Are much more readable than bash
section
    section
        h1 CWL Structure
    section
        h2 Tools 
            span.icon
                i.fas.fa-toolbox
        ul
            li Are wrappers that describe to the CWL engine how a tool works
            li Include its inputs and outputs, and their format
            li Any given tool can have a "correct" tool definition, unlike a workflow
            li Some already exist for commonly used tools
            
    section
        h2 Workflows 
            span.icon
                i.fas.fa-project-diagram
        ul
            li Explain how tools are connected to each other and in what order
            li Are generally project-specific
            li Can be nested inside each other
                    
section
    section
        h1 Tooling for CWL
    section
        h2 Rabix
    section
        h2 Toil
        ul
            li CWL has a number of "executors" - applications that can actually run CWL
            li. 
                Toil is the best supported executor - it can run workflows on your laptop, on a cluster, on NeCTAR, on
                AWS, or an a number of other platforms
            li
                p To install Toil for CWL, run
                code.language-bash.
                    pip install toil[cwl]
        
section
    section
        h1 Running CWL
    section
        h2 Obtaining Tool Definitions
        p There are a few useful sources of CWL tool definitions

    section
        h3 Dockstore
        ul
            li
                a(href="https://dockstore.org") Dockstore - a database of CWL and WDL workflows and tools
            li Once you find a tool definition you like, you can download it with
            code.language-bash.
                dockstore tool cwl --entry [SOME PATH]
            p e.g.
            code.language-bash.
                dockstore tool cwl --entry quay.io/pancancer/pcawg-bwa-mem-workflow:develop

    section
        h3 Official CWL Workflows Repository
        ul
            li
                a(href="https://github.com/common-workflow-language/workflows") https://github.com/common-workflow-language/workflows
            li Once you find a tool definition you like, right-click on the "Raw" button and click "Save link as"
    section
        h2 Exercise - Running BWA
        ul
            li Try to find a simple wrapper for the tool #[code bwa]
            li Download that tool definition, and run it on the provided fastq files with
                code.language-bash toil-cwl-runner bwa.cwl

    section
        h2 Exercise - Running BWA
        ul
            li This didn't do much beyond just running the #[code bwa] tool
            li However, it did ensure the tool ran in a Docker container with BWA installed

section
    section
        h1 Wrapping Tools

    section
        h2 More on CWL Tools
        ul
            li At minimum, a CWL tool definition must have three things
                ul
                    li A list of inputs (command line arguments and stdin)
                    li A list of outputs (files and stdout)
                    li A command (tool) to run
            li We will investigate how to make these tool definitions first using Rabix, and then from scratch

    section
        h2 Rabix Composer
        ul
            li Start by making a new tool definition in Rabix
                img(src='rabix_new_tool.png')
        
    section
        h2 Exercise - Wrapping <some RNA seq tool>
        
    section
        h2 Docker
        
    section
        h2 Exercise - Updating our tool to use Docker
        
    section
        h2 Writing tool definitions by hand
        
    section
        h2 Exercise - Writing a third tool manually
        
section
    section
        h1 Writing Workflows
        
    section
        h2 Workflows in the Rabix Composer
        
    section
        h2 Exercise - Making an RNA Seq Pipeline in Rabix
        
    section
        h2 Workflows in CWL Files
        
    section
        h2 Exercise - Making an RNA Seq Pipeline Manually
        
section
    h1 Sharing CWL
